/* Styles for Rocks Paper Scissors game */

*, html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
}

.inline {
  display: inline;
}

#gameplay-panel {
  background-color: black;
  border-style: none;
}

#main-panel {
  border-style: none;
}

#won-lost-or-tied-msg {
  color: red;
}

#panel-title {
  color: #483DD5;
}

.jumbotron {
  background-color: #483DD5;
  color: #BE2C19;
}

#reg {
  vertical-align: text-top;
  font-size: medium;
}

#new-font-color {
  color: #F2CFD2;
}

#main-panel {
  background-color: black;
}

.white-font {
  color: white;
}

.glove-color {
  color: #BC2B1C;
}

.align-left {
  text-align: right;
}

.smaller-font {
  font-size: 75%;
}

#tv {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px 0;
  background: #7CB342;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  margin: 0 auto;
  position: relative;
}
/*#tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}*/
