/* Styles for Rocks Paper Scissors game */

*, html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
}

.inline {
  display: inline;
}

#shoot-out {
  background: -webkit-linear-gradient(#F4981C, #B63020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

#gameplay-panel {
  background-color: black;
  border-style: none;
}

#main-panel {
  border-style: none;
}

#won-lost-or-tied-msg {
  color: red;
}

#panel-title {
  color: #483DD5;
}

.jumbotron {
  background-color: #483DD5;
  color: #BE2C19;
}

#reg {
  vertical-align: text-top;
  font-size: medium;
}

.blue-font {
  color: #483DD5;
}

#main-panel {
  background-color: black;
}

.white-font {
  color: white;
}

.glove-color {
  color: #BC2B1C;
}

.align-left {
  text-align: right;
}

.smaller-font {
  font-size: 75%;
}

#tv {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px 0;
  background: #7CB342;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  margin: 0 auto;
}

#scoreboard {
  position: relative;
  width: 300px;
  height: 175px;
  margin: 20px 0;
  background: #7E0800;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  margin: 0 auto;
}

.tossing-nonstop {
  animation-name: tossing;
  -webkit-animation-name: tossing;  

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-15deg); 
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg); 
  }           
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-15deg); 
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg); 
  }       
}